/* Libs
------------------------------------------------------------ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Globals
------------------------------------------------------------ */
/* Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #f15a22;
  color: #fff;
  text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

/* Helper Mixins
------------------------------------------------------------ */
/* ==========================================================================

   Buttons

   ========================================================================== */
/* ==========================================================================

   Vertical Rhythm and Modular Scale with Baseline Grid by Justin Metros
   // inspired by www.gridlover.net

   ========================================================================== */
/* Colors
------------------------------------------------------------ */
/* Typography
------------------------------------------------------------ */
body {
  font-size: 20px;
  line-height: 30px;
  color: #565555; }

a {
  font-family: "proxima-nova", sans-serif;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", sans-serif; }

a:link {
  color: black; }

/* unvisited link */
a:visited {
  color: black; }

/* visited link */
a:active {
  color: red; }

/* selected link */
a:hover {
  color: red; }

h1 {
  font-size: 2.1em;
  margin: .3em; }

h3 {
  font-size: 1.7em; }

h6 {
  font-size: .7em; }

/* Partials
------------------------------------------------------------ */
/* --------------- Layout ---------------- */
img {
  width: 100%;
  vertical-align: baseline; }

html {
  margin: 0 auto;
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }
  html:before, html:after {
    content: " ";
    display: table; }
  html:after {
    clear: both; }

header {
  text-align: center;
  height: 100px;
  color: black; }

.search {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 1em; }
  .search:last-child {
    margin-right: 0; }
  .search form label {
    display: none; }
  .search form input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 4em; }
    .search form input:last-child {
      margin-right: 0; }

#searchsubmit {
  display: none; }

.post-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  margin-bottom: 1em; }
  .post-content:last-child {
    margin-right: 0; }
  .post-content p {
    padding-top: 1em; }

.hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .hero:last-child {
    margin-right: 0; }

.title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  padding-top: 1.2em; }
  .title:last-child {
    margin-right: 0; }

.entry {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-bottom: 1em; }
  .entry:last-child {
    margin-right: 0; }

.post-meta-key {
  display: none; }

.tags {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .tags:last-child {
    margin-right: 0; }

/*---- Next Article Highlight ----*/
.next-article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  float: right; }
  .next-article:last-child {
    margin-right: 0; }

.next-hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .next-hero:last-child {
    margin-right: 0; }

.next-excerpt {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .next-excerpt:last-child {
    margin-right: 0; }
